@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animation-container {
  /* Ganti selector "animation-container" sesuai dengan elemen HTML yang ingin Anda animasikan */
  width: 100%; /* Sesuaikan lebar elemen container sesuai kebutuhan */
  overflow: hidden; /* Agar elemen yang bergerak tidak terlihat di luar container */
}

.ticker-element {
  /* Ganti selector "ticker-element" sesuai dengan elemen HTML yang ingin Anda animasikan */
  animation: ticker 150s linear infinite;
}
